.header{
    background:#060606;
    border-bottom: 1px solid #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.logo{
    width: 130px;
}

@media(max-width: 768px){
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}