
.footer{
    background: #060606;
    padding: 10px 0;
    color: #fcfcfc;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #fcfcfc;
}

@media(max-width: 768px){
    .footer{
        padding: 5px 0;
    }
}