
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: url('../src/assets/images/bg-star-wars.jpg');
  min-width: 320px;
  min-height: 100vh;
}

.container{
  padding: 0 10%;
}

.margint_default{
  margin-top: 70px;
}

.marginb_default{
  margin-bottom: 70px;
}

@media(max-width: 768px){
  .container{
    padding: 0 5%;
  }

  .gap{
    gap: 28px;
  }

  .margint_default{
    margin-top: 50px;
  }
  
  .marginb_default{
    margin-bottom: 50px;
  }
}